.cards-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

.green-button {
    color: #fff;
    background-color: #6CBC2A;
    border-color: #6CBC2A;
}

.badge-success {
    color: #fff;
    background-color: #6CBC2A;
}

.price {
    color: #6CBC2A;
}

@media screen and (min-width: 905px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1240px) {
    .cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-img-top {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-title {
    font-size: 14px;
}

.page-link {
    font-weight: bold;
    color: #6CBC2A;
}

.pagination-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-end;
    display: flex;
    width: 100%;
}

.pagination-buttons button {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 18px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.cards-container a:hover {
    color: #6CBC23 !important;
    background-color: #fff !important;
}

.hidden {
    display: none !important;
}

.header-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.header-logo img {
    height: 250px;
    width: 250px;
}

.search-bar button {
    color: #6CBC2A;
    background-color: transparent;
    background-image: none;
    border-color: #6CBC2A;
}

.search-bar button:hover {
    color: #fff;
    background-color: #6CBC2A;
    border-color: #6CBC2A;
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
}

.action a:hover {
    color: #6CBC23 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.action a {
    color: #6CBC23 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6CBC2A;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.action.active span {
    transform: rotate(180deg);
}

.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    bottom: 70px;
    visibility: visible;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
}

.action.active ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s
}

.action ul li {
    list-style: none;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.action ul li:hover {
    opacity: 0.5;
}

.action ul li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img{
    margin-right: 10px;
    transform: scale(0.8);
}